nav {
    height: 72px;
    background-color: rgb(20, 21, 25);
    top: 0px;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
    transition: top .4s;
}

nav a {
    padding: 0 32px;
    color: #eeeeee;
    transition-property: color;
    transition: .4s;

}

nav a:hover {
    text-decoration: none;
    color: rgba(181, 211, 52, 1)
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;

}

.active {
    color: rgba(181, 211, 52, 1);
}

#logo-img {
    display: flex;
    height: 100%;
    padding: 0 32px;
    align-items: center;
    background-color: #141519;
    transition: 0.3s;
}

#logo-img img {
    height: 55px;
    image-rendering: auto;
}

#logo-img:hover {
    background: black;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: #eee;
    display: flex;
    display: none;
    align-items: center;
    cursor: pointer;
}

/*Slideout Menu*/
#slideout-menu {
    visibility: hidden;
    background: #414042;
    z-index: 100;
    position: fixed;
    margin-top: 72px;
    width: 100%;
    text-align: center;

}

#slideout-menu ul {
    list-style: none;
    padding: 0 32px;

}

#slideout-menu ul li {
    padding: 8px;

}

#slideout-menu a {
    font-size: 20px;
    color: white;
}

#slideout-menu input {
    width: 85%;
    padding: 8px;
    font-size: 20px;
    text-align: center;

}
