#binfsights-bar{
    width:100%;
    height:auto;
    border: 8px solid;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing:border-box;
}
#binfsights-bar a {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: 30%;
}

.navbar-logo { 
    width: 100%; 
    max-width: 150px; 
    height: auto; 
  }